@page
@model Ejounal_WebApp.Pages.Admins.ArticleResults.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Review Result Information</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ReviewResult[0].Users)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReviewResult[0].Articles)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReviewResult[0].Comment)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReviewResult[0].Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReviewResult[0].ReviewDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.ReviewResult)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Users.Username)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Articles.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Comment)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ReviewDate)
                </td>
                <td>
                    @* here *@
                </td>
            </tr>
        }
    </tbody>
</table>
